---
import { Btn_custom } from "../../UI/Btn_custom";
import { Btn__customLong } from "../../UI/Btn__customLong";
import { Slider } from "./items/Slider";
---

<div class="px-[48px] pt-[88px] flex flex-col max-w-[1224px] mx-auto">
  <div
    class="text-[#0D0628] text-[32px] text-center font-semibold leading-[40px] pb-[48px]"
  >
    Лицензионные данные из 50+ источников
  </div>





  <div
    class="p-[32px] rounded-[24px] h-[614px] flex flex-col gap-[8px] bg-[#FFFFFF]"
  >
    <!-- <div class="flex justify-between">
      <div
        class="px-[16px] pt-[12px] pb-[18px] text-[#5F5B70] text-[14px] text-center"
      >
        "Проверка <br /> юридических лиц"
      </div>
      <div
        class="px-[16px] pt-[12px] pb-[18px] text-[#5F5B70] text-[14px] text-center"
      >
        Проверка <br /> физических лиц
      </div>
      <div
        class="px-[16px] pt-[12px] pb-[18px] text-[#5F5B70] text-[14px] text-center"
      >
        Судебное и внесудебное <br /> банкротство
      </div>
      <div
        class="px-[16px] pt-[12px] pb-[18px] text-[#5F5B70] text-[14px] text-center"
      >
        Готовые <br /> факторы риска
      </div>
    </div> -->
    <div>
      <Slider client:load />
    </div>
  </div>








  <div class="bg-[#FFFFFF] rounded-[24px] flex mt-[24px]">
    <div class="flex-1">
      <Btn__customLong />
    </div>

    <div
      class="pl-[32px] pr-[24px] flex gap-[32px] items-center justify-end flex-1"
    >
      <div class="text-[#0D0628] text-[20px] font-semibold leading-[28px]">
        Остались вопросы?
      </div>
      <Btn_custom>Оставить заявку</Btn_custom>
    </div>
  </div>
</div>
