---
import img1_1 from "../../../assets/main/block_8/img1_1.svg";
import img1_2 from "../../../assets/main/block_8/img1_2.svg";

import img2_1 from "../../../assets/main/block_8/img2_1.svg";
import img2_2 from "../../../assets/main/block_8/img2_2.svg";

import img3_1 from "../../../assets/main/block_8/img3_1.svg";
import img3_2 from "../../../assets/main/block_8/img3_2.svg";
import img111 from "../../../../public/Block_8/img1_1.svg";

import Item from "./Block_8_item.astro";
---

<div id="case" class="bg-[#FFFFFF]">
  <div
    class="bg-[#FFFFFF] px-[48px] max-sm:px-[20px] py-[88px] max-w-[1224px] mx-auto"
  >
    <div
      class="text-[#0D0628] text-[32px] text-center pb-[48px] leading-[40px]"
    >
      Кейсы клиентов
    </div>
    <div class="flex max-lg:flex-col gap-[24px] justify-center">

      <Item
        img1={"/img1_1.svg"}
        img2={"/img1_2.svg"}
        title={"CRM как система учета рабочего времени в юридическом консалтинге"}
      />
      <Item
        img1={"/img2_1.svg"}
        img2={"/img2_2.svg"}
        title={"Как в 2,5 раза ускорить обработку обращений надзорных органов"}
      />
      <Item
        img1={"/img3_1.svg"}
        img2={"/img3_2.svg"}
        title={"Как контролировать IP-активы"}
      />
    </div>
  </div>
</div>
