---
import { Image } from "astro:assets";
const { img1, title, img2 } = Astro.props;
---

<div class="relative h-[240px] w-full group">
  <img
    class="absolute z-10 object-cover rounded-[20px] h-full w-full"
    src={img1}
    alt="error"
  />
  <div
    class="absolute z-20 w-full h-full bg-gradient-to-b from-[#000000]/70 from-10% to-transparent to-100 rounded-[20px]"
  >
  </div>
  <div class="absolute z-0 w-full h-full bg-purple-600/50 rounded-[20px] group-hover:scale-105 duration-300"></div>
  <div
    class="absolute z-30 p-[24px] h-full w-full flex flex-col justify-between"
  >
    <div class="text-white flex flex-col gap-[10px]">
      <div
        class="opacity-60 text-[12px] tracking-[3px] uppercase leading-[20px]"
      >
        История успеха
      </div>
      <div class="font-semibold leading-[26px] text-[18px]">{title}</div>
    </div>
    <div><img src={img2} alt="error" /></div>
  </div>
</div>
