---
import Item from "./Item.astro";

// import Item from "./Item.astro";
---

<div class="bg-[#FFFFFF]">
  <div class="px-[48px] pt-[88px] flex flex-col max-w-[1224px] mx-auto">
    <div
      class="text-[#0D0628] text-[32px] text-center pb-[48px] leading-[40px]"
    >
      Технические преимущества
    </div>

    <div class="flex flex-col gap-[24px] justify-center">
      <div class="flex gap-[40px] max-md:flex-col max-md:gap-[20px]">
        <div class="flex-1">
          <Item
            title={"Простая интеграция"}
            text={"OpenAPI спецификация содержит подробное и наглядное описание методов."}
          />
        </div>
        <div class="flex-1">
          <Item
            title={"Качество нормализации данных"}
            text={"Данные PravoTech Big Data — основа для других наших продуктов. Поэтому мы внимательно следим за качеством получаемых данных."}
          />
        </div>
      </div>
      <div class="flex gap-[40px] max-md:flex-col max-md:gap-[20px]">
        <div class="flex-1">
          <Item
            title={"Детализация получаемых данных"}
            text={"Подробный атрибутивный состав данных по делам позволяет получать максимум информации в удобном формате."}
          />
        </div>
        <div class="flex-1">
          <Item
            title={"Техподдержка 24/7 по SLA"}
            text={"Специалисты обеспечивают стабильную работу сервиса и оперативно реагируют на вопросы."}
          />
        </div>
      </div>
      <div class="flex gap-[40px] max-md:flex-col max-md:gap-[20px]">
        <div class="flex-1">
          <Item
            title={"Обратная совместимость"}
            text={"Поддержание обратной совместимости помогает переходить на свежие версии без затрат на разработку."}
          />
        </div>
        <div class="flex-1">
          <Item
            title={"Скорость передачи данных"}
            text={"Пропускная способность до 30 000 запросов в минуту позволяет настроить работу в режиме онлайн и обновлять базу в любое удобное для компании время."}
          />
        </div>
      </div>
    </div>
  </div>
</div>
