---
import { InputBlock } from "./Input_block_10";
---

<div class="px-[48px] pb-[88px] max-w-[1224px] mx-auto">
    <div class="bg-[#8C26EA]/20 py-[16px] rounded-[24px]">
        <div
            class="bg-[#8C26EA] px-[56px] rounded-[24px] py-[64px] flex gap-[24px]"
        >
            <div class="pr-[80px] pt-[16px] flex flex-col gap-[16px] flex-1">
                <div
                    class="text-[#FFFFFF] text-[32px] font-semibold leading-[40px]"
                >
                    Попробуйте PravoTech Big Data в действии
                </div>
                <div class="text-[#FFFFFF] text-[16px] opacity-80">
                    Мы свяжемся с вами и обсудим, как интегрировать данные
                    в вашу внутреннюю систему.
                </div>
            </div>
            <div class="flex-1">
                <InputBlock client:only="preact" />
            </div>
        </div>
    </div>
</div>
