---
import img1 from "../../../assets/main/Block_2/img1.svg";
import img2 from "../../../assets/main/Block_2/img2.svg";
import img3 from "../../../assets/main/Block_2/img3.svg";
import img4 from "../../../assets/main/Block_2/img4.svg";
import Item_block_2 from "./Item_block_2.astro";
---

<div class="bg-[#FFFFFF]">
    <div class="px-[48px] max-sm:px-[20px] py-[88px] max-w-[1224px] mx-auto">
        <div
            class="text-[32px] max-md:text-[28px] font-semibold text-center text-[#0D0628] pb-[48px]"
        >
            Решения для бизнеса на основе больших данных
        </div>
        <div class="flex flex-col">
            <div class="flex max-md:flex-col">
                <div class="pl-[32px] pr-[40px] flex-1">
                    <Item_block_2
                        img={img1}
                        title={"Предиктивный анализ организаций и физических лиц"}
                        text={"Исключите риски сотрудничества с недобросовестным заемщиком, контрагентом или сотрудником."}
                    />
                </div>
                <div class="w-[2px] max-md:w-full max-md:h-[1px] bg-[#E2E2E5]">
                </div>
                <div class="pl-[40px] pr-[32px] flex-1">
                    <Item_block_2
                        img={img2}
                        title={"Мониторинг действующих партнеров, заемщиков и клиентов"}
                        text={"Отслеживайте негативные триггеры у компаний: увеличение исковой нагрузки, рост долгов и другие признаки дефолта."}
                    />
                </div>
            </div>
            <div class="h-[2px] max-md:h-[1px] bg-[#E2E2E5]"></div>
            <div class="flex max-md:flex-col">
                <div class="pl-[32px] pr-[40px] flex-1">
                    <Item_block_2
                        img={img3}
                        title={"Работа с проблемными активами и процедурой банкротства"}
                        text={"Повышайте шансы на возврат долга: первым узнавайте о банкротстве компании и своевременно включайтесь в реестр требований кредиторов."}
                    />
                </div>
                <div class="w-[1px] max-md:w-full max-md:h-[1px] bg-[#E2E2E5]">
                </div>
                <div class="pl-[40px] pr-[32px] flex-1">
                    <Item_block_2
                        img={img4}
                        title={"Автоматизация претензионно-исковой работы"}
                        text={"Минимизируйте ручную работу с процессуальными документами и судебными делами."}
                    />
                </div>
            </div>
        </div>
    </div>
</div>
