@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

@layer components {
  .circle-schadow {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  }
  @theme {
    --breakpoint-m: 935px;
    --font-Playfair: 'Playfair Display', sans-serif !important;
    --animate-wiggle: wiggle 10s ease-in-out infinite;
    @keyframes wiggle {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      5% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 0;
        transform: scale(4.6);
      }
    }
  }

  .swiper-button-prev {
    --swiper-navigation-sides-offset: -30px;
  }
  .swiper-button-next {
    --swiper-navigation-sides-offset: -30px;
  }
  @media (max-width: 1350px) {
    .swiper-button-prev {
      display: none !important;
    }
    .swiper-button-next {
      display: none !important;
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    --swiper-navigation-size: 14px;
    font-weight: 800;
    color: #8c26ea;
  }
  .pagination {
    position: absolute;
    --swiper-pagination-top: 100%;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 200px !important;
  }
  @media (max-width: 1000px) {
    .pagination {
      --swiper-pagination-top: 98%;
    }
  }
    @media (max-width: 620px) {
    .pagination {
      --swiper-pagination-top: 100%;
    }
  }

  .pagination2 {
    position: absolute;
    --swiper-pagination-top: 800px;
    left: 43% !important;
  }
  @media (max-width: 768px) {
    .pagination2 {
      --swiper-pagination-top: 910px;
      left: 33% !important;
    }
  }

  .swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 3px;

    --swiper-pagination-color: #0d0628;
    border-radius: 10px !important;
  }
  .pagination-bullets.swiper-pagination-horizontal {
    width: 100px !important;
  }
  .swiper-button-disabled {
    opacity: 0 !important;
  }

  .pagination_2 {
    position: absolute;
    top: 0px !important;
  }
  .swiper-pagination_2-bullet {
    --swiper-pagination_2-bullet-width: 20px;
    --swiper-pagination_2-bullet-height: 3px;
    --swiper-pagination_2-color: #0d0628;
    border-radius: 10px !important;
  }
  .pagination_2-bullets.swiper-pagination_2-horizontal {
    width: 100px !important;
  }
}
