---
import FrequentQuestions_item from "@components/FrequentQuestions/FrequentQuestions_item";
---

<div class="px-12 max-sm:px-5 py-[88px] max-w-[1224px] mx-auto">
    <div class="text-[32px] text-[#0D0628] font-semibold text-center pb-12">
        Часто задаваемые вопросы
    </div>
    <div class="flex flex-col gap-4">
        <FrequentQuestions_item client:load
            title={"Как тарифицируется сервис?"}
            text={"Сервис тарифицируется по двум направлениям: по количеству запросов (обращений к базе данных) в месяц или по количеству объектов мониторинга (ИНН/ ОГРН/судебные дела). Оставьте заявку на консультацию, чтобы наш менеджер помог вам подобрать подходящий набор методов и рассчитать итоговую стоимость под ваши задачи."}
        />
        <FrequentQuestions_item client:load
            title={"Кто может справиться с интеграцией?"}
            text={"Любой разработчик или интегратор, у оторого есть опыт работы с API. У нас реализован OpenAPI, что делает интеграцию быстрой. UI интерфейс Swagger, который делает работу с API удобной для разработчиков."}
        />
        <FrequentQuestions_item client:load
            title={"Сколько времени занимает интеграция?"}
            text={"В среднем реализация занимает от 1 дня до 2 месяцев. Срок интеграции зависит от сложности архитектуры системы и загрузки вашей команды разработки."}
        />

    </div>
</div>
