---
import { Image } from "astro:assets";

import Logo_BigData from "../../assets/header/Logo_BigData.svg";
import { Slider } from "./Slider";
---

<div class="max-w-[1224px] mx-auto">
  <div
    class="flex justify-between px-[48px] max-sm:px-[20px] h-[80px] items-center"
  >
    <div>
      <Image src={Logo_BigData} alt="" />
    </div>
    <div
      class="flex gap-[32px] font-medium text-[15px] text-[#8C26EA] max-m:hidden [&>*]:duration-300 [&>*]:transition-colors"
    >
      <div class="hover:text-[#8C26EA]/50">Преимущества</div>
      <div class="hover:text-[#8C26EA]/50">Отрасли</div>
      <div class="hover:text-[#8C26EA]/50">Как работает</div>
      <div class="hover:text-[#8C26EA]/50">Источники</div>
      <div class="hover:text-[#8C26EA]/50">Кейсы</div>
    </div>
  </div>
  <Slider client:load />
</div>
