---
import { Image } from "astro:assets";
import vk from "@uploads/Footer/vk.svg";
import tg from "@uploads/Footer/tg.svg";
import youtube from "@uploads/Footer/youtube.svg";
import logo_yellow from "@uploads/Footer/logo_yellow.svg";
---

<footer class="w-screen h-full bg-[#0D0628]">
  <div class="max-w-[1224px] mx-auto h-full py-14">
    <div class="w-full px-12 flex flex-col text-[#FFFFFF]/70 gap-10">
      <div class="max-w-[1032px] h-full flex flex-col gap-10">
        <div class="flex justify-between md:flex-row flex-col gap-8">
          <div class="flex flex-col gap-8">
            <Image src={logo_yellow} width={120} height={24} alt="logo" />
            <div
              class="flex flex-col gap-2 text-[14px] text-[#FFFFFF]/40 *:duration-300 *:cursor-pointer"
            >
              <div class="hover:text-[#FFFFFF]">8 800 700-02-01</div>
              <div class="hover:text-[#FFFFFF]">info@pravo.tech</div>
              <div class="hover:text-[#FFFFFF]">
                г. Москва, ул. Большая Полянка, 2/10с1
              </div>
            </div>
          </div>

          <div
            class="flex flex-col gap-3 text-[15px] text-[#FFFFFF]/60 *:duration-300 *:cursor-pointer"
          >
            <div class="hover:text-[#FFFFFF]">Документы</div>
            <div class="hover:text-[#FFFFFF]">Политика конфиденциальности</div>
            <div class="hover:text-[#FFFFFF]">
              Стандарт гарантийной поддержки системы
            </div>
          </div>
        </div>
        <div
          class="flex gap-3 *:h-10 *:w-10 *:bg-[#241e3c] *:rounded-[10px] *:flex *:items-center *:justify-center *:duration-300 *:cursor-pointer"
        >
          <div class="hover:scale-110"><Image src={vk} alt="VK" /></div>
          <div class="hover:scale-110"><Image src={tg} alt="Telegram" /></div>
          <div class="hover:scale-110"><Image src={youtube} alt="YouTube" /></div>
        </div>
      </div>
    </div>
  </div>
</footer>
