---
import { Image } from "astro:assets";
import Block_1_item from "./Block_1_item.astro";
import { Btn__customLong } from "../../UI/Btn__customLong";
---

<div
  id="advantages"
  class="px-[48px] max-sm:px-[20px] py-[88px] flex flex-col max-w-[1224px] mx-auto"
>
  <div
    class="text-[#0D0628] text-[32px] font-semibold text-center leading-[40px] pb-[48px]"
  >
    Качество, скорость и полнота данных — главные преимущества сервиса
  </div>

  <div class="flex gap-[24px] max-md:flex-col">
    <div class="flex flex-col gap-[24px] flex-1">
      <Block_1_item
        H1={"100%"}
        H2={"лицензионных данных по компаниям и физическим лицам"}
        P={"Сведения мгновенно передаются в вашу внутреннюю систему."}
      />
      <Btn__customLong />
    </div>
    <div class="flex flex-col gap-[24px] flex-1">
      <Block_1_item
        H1={"50+"}
        H2={"факторов риска"}
        P={"Готовый анализ рисков для быстрой оценки финансового состояния организации."}
      />
      <Block_1_item
        H1={"250+"}
        H2={"миллионов судебных дел"}
        P={"Максимум данных по арбитражным делам, делам судов общей юрисдикции, а также делам о банкротстве и отдельным обособленным спорам."}
      />
    </div>
  </div>
</div>
