---
const { H1, H2, P } = Astro.props;
---

<div
  class="bg-[#FFFFFF] flex flex-col gap-[10px] rounded-[24px] py-[32px] pl-[32px] pr-[96px] flex-1"
>
  <div>
    <div class="text-[#8C26EA] text-[56px] font-semibold mt-[-15px]">{H1}</div>
    <div class="text-[#0D0628] text-[20px] font-semibold leading-[28px]">
      {H2}
    </div>
  </div>
  <div class="text-[#0D0628]/80 text-[16px] leading-[24px]">
    {P}
  </div>
</div>
