---
import { Image } from "astro:assets";
const { img, text } = Astro.props;
---

<div
    class="bg-[#FFFFFF] rounded-[20px] px-[8px] pt-[20px] pb-[16px] flex flex-col gap-[14px] items-center flex-1"
>
    <div><Image src={img} alt="" /></div>
    <div
        class="text-[16px] max-sm:text-[12px] text-[#5F5B70] text-center leading-[24px] max-sm:leading-[18px]"
    >
        {text}
    </div>
</div>
