---
import Item_9 from "./Item_9";
---

<div class="px-[48px] max-sm:px-[20px] py-[88px] max-w-[1224px] mx-auto">
    <div class="text-[32px] text-[#0D0628] font-semibold text-center pb-[48px]">
        Часто задаваемые вопросы
    </div>
    <div class="flex flex-col gap-[16px]">
        <Item_9 client:load
            title={"Как тарифицируется сервис?"}
            text={"Сервис тарифицируется по двум направлениям: по количеству запросов (обращений к базе данных) в месяц или по количеству объектов мониторинга (ИНН/ ОГРН/судебные дела). Оставьте заявку на консультацию, чтобы наш менеджер помог вам подобрать подходящий набор методов и рассчитать итоговую стоимость под ваши задачи."}
        />
        <Item_9 client:load
            title={"Кто может справиться с интеграцией?"}
            text={"Любой разработчик или интегратор, у которого есть опыт работы с API. У нас реализован OpenAPI, что делает интеграцию быстрой. UI интерфейс Swagger, который делает работу с API удобной для разработчиков."}
        />
        <Item_9 client:load
            title={"Сколько времени занимает интеграция?"}
            text={"В среднем реализация занимает от 1 дня до 2 месяцев. Срок интеграции зависит от сложности архитектуры системы и загрузки вашей команды разработки."}
        />

    </div>
</div>
