---

import { BtnCustomLong } from "@components/UI/BtnCustomLong";
import { Slider } from "./LicenseSlider";
import { BtnCustom } from "@components/UI/BtnCustom";
---

<div
  id="sources"
  class="px-12 max-sm:px-5 pt-[88px] flex flex-col max-w-[1224px] mx-auto overflow-hidden"
>
  <div
    class="text-[#0D0628] text-[32px] text-center font-semibold leading-10 pb-12"
  >
    Лицензионные данные из 50+ источников
  </div>

  <div
    class="p-8 max-sm:p-2.5 rounded-3xl h-[614px] max-m:h-[870px] max-md:h-[950px] bg-[#FFFFFF]"
  >
    <Slider client:load />
  </div>

  <div
    class="bg-[#FFFFFF] rounded-3xl flex max-m:flex-col max-m:gap-5 mt-6"
  >
    <div class="flex-1">
      <BtnCustomLong />
    </div>

    <div
      class="pl-8 pr-6 flex gap-8 items-center justify-end flex-1 max-m:flex-col max-m:gap-5 pb-2.5"
    >
      <div class="text-[#0D0628] text-[20px] font-semibold leading-7">
        Остались вопросы?
      </div>
      <BtnCustom>Оставить заявку</BtnCustom>
    </div>
  </div>
</div>
